body {
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(76, 82, 90, 1);
  background-color: rgba( 255, 255, 255, 1);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

#contact-form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  font-weight: 400;
  cursor: pointer;
  color: rgb(225, 147, 112);
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(76, 82, 90, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(76, 82, 90, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */

  resize: none;
  width: 90%;
  border-color: rgba(76, 82, 90, 0);
}

textarea:focus {
  background-color: rgba(76, 82, 90, 0.05);
  border: 2px dashed rgba(76, 82, 90, 0);
}

textarea:focus:required:valid {
  border: 2px solid rgba(76, 82, 90, 0);
  border-bottom: 2px solid rgba(76, 82, 90, 0.05);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(76, 82, 90, 0.1);
}

input {
  border-bottom: 2px dashed rgba(76, 82, 90, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(76, 82, 90, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(76, 82, 90, 1);
  background-color: rgba(76, 82, 90, 0.05);
}

input:required:valid {
  border-bottom: 2px solid rgba(76, 82, 90, 0.2);
}

input:required:invalid {
  color: rgba(76, 82, 90, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(76, 82, 90, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
  color: rgba(76, 82, 90, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: rgba(76, 82, 90, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(76, 82, 90, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(76, 82, 90, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

a.button,
button {
  font-weight: 400;
  cursor: pointer;
  font-size: 25px;
  color: rgb(225, 147, 112);
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
  border: 3px solid rgb(225, 147, 112);
  border-radius: 15px;
  padding: 10px 20px;
}

a.button{
  color: white;
  background: rgb(225, 147, 112);
  text-decoration: none;
}

a.button:hover,
button:hover small {
  opacity: 0.5;
}

a.link--small{
  font-size: 16px;
  text-decoration: none;
  color: rgb(225, 147, 112);
}
a.link--small:hover{
  text-decoration: underline;
}
small {
  display: block;
  opacity: 0;
}

section,
div.section {
  border-bottom: 2px dashed rgba(76, 82, 90, 0.5);
  padding: 48px 12px;
  max-width: 1004px;
  margin: 0 auto;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;

}

.website a {
  color: white;
}
